.switcher {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}
.switcher span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: black;
}
